@font-face {
    font-family: KaushanScript;
    src: url(../font/KaushanScript-Regular.ttf);
}

@font-face {
    font-family: Signika;
    src: url(../font/Signika-Regular.ttf);
}

*, *:after, *:before {
   
    padding: 0;
    margin: 0;
    transition: .5s ease-in-out;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    outline: none;
    color: #fff;
}

body {
    width: 100%;
    height: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

header {
    position: relative;
    height: 807px;
    clip-path: polygon(0 0, 100% 0, 100% 95.285%, 53.25% 95.285%, 50% 100%, 46.75% 95.285%, 0 95.285%);
    background: url("../img/header.png") center center no-repeat;
    background-color: gray;
}

.navbar {
    width: 100%;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.logo {
    width: 110px;
    margin-left: 10%;
    margin-top: 28px;
    color: #fff;
    font-family: KaushanScript;
    font-size: 36px;
    float: left;
}

.menu {
    float: right;
    width: 650px;
}

.menu ul li {
    display: inline-block;
    width: 15%;
    text-align: center;
    cursor: pointer;
    margin-right: -4px;
}

.menu a {
    display: block;
    padding: 45px 10px 10px 10px;
    font-family: Signika;
    font-size: 18px;
}

header .menu a:hover,
.active {
    background-color: #3F9FC9;
}

.main1 .menu a:hover,
.active1 {
    background-color: #E6655E;
}

.main2 .menu a:hover,
.main3 .menu a:hover,
.active23 {
    background-color: rgba(255, 255, 255, 0.4)
}

.main4 .menu a:hover,
.active4 {
    background-color: #37637F;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

.animated {
    animation-duration: 1s;
    
}

.drop {
    display: none;
    width: 50px;
    background-color: transparent;
    outline: none;
    border:none;
    position: absolute;
    top: 34px;
    right: 10%;
    cursor: pointer;
}

.gum {
    transform: rotate(90deg);
}

.drop:hover {
    opacity: 0.5;
}

.drop::before {
    content: "\2261";
    font: 3em "arial";
    color: #fff;
}

.main {
    height: 1038px;
    clip-path: polygon(0 0, 46.75% 0, 50% 3.66%, 53.25% 0, 100% 0, 100% 96.34%, 53.25% 96.34%, 50% 100%, 46.75% 96.34%, 0 96.34%);
    margin-top: -39px;
}

.hidden {
    opacity: 0;
}
.visible {
    opacity: 1;
}

.main1 {
    background-color: #F17C72;
} 

.main2 {
    background-color: #32AC97;
} 

.main3 {
    background-color: #7F4C76;
} 

.main4 {
    background-color: #3F9FC9;
    clip-path: polygon(0 0, 46.75% 0, 50% 3.66%, 53.25% 0, 100% 0, 100% 96.34%, 0 96.34%);
} 

footer {
    height: 97px;
    background-color: #334960;
    margin-top: -39px;
}

@media (max-width: 1400px) {
    header {
        clip-path: polygon(0 0, 100% 0, 100% 95.285%, 0 95.285%);
    }

    .main {
        clip-path: none;
        margin-top: 0;
    }

    .main1 {
        margin-top: -39px;
    }

    footer {
        margin-top: 0;
    }
}

@media (max-width: 875px) {
    header {
        background-image: none;
        clip-path: none;
    }

    .navbar {
        background-color: #334960;
        width: 100%;
        height: 100px;
        position: fixed;
        top: 0;
        z-index: 1;
    }

    .menu {
        display: none;
        position: absolute;
        top: 100px;
        right: 0;
        width: 30%;
        z-index: 1;
        background-color: #334960;
    }

    .menu ul li {
        display: block;
        width: 100%;
    }

    .menu a {
        padding: 30px;
    }

    .drop {
        display: block;
    }

    .main {
        clip-path: none;
        margin-top: 0;
    }

    .main .navbar {
        display: none;
    }

    .active {
        background-color: #334960;
    }
}
