@font-face {
    font-family: YatraOne;
    src: url('/app/fonts/YatraOne-Regular.woff');
}

@font-face {
    font-family: Philosopher;
    src: url('/app/fonts/Philosopher-Regular.woff');
}

@font-face {
    font-family: PoiretOne;
    src: url('/app/fonts/PoiretOne-Regular.woff');
}

@font-face {
    font-family: Vollkorn;
    src: url('/app/fonts/Vollkorn-Regular.woff');
}