@mixin location-element($t, $r, $b, $l) {
    position: absolute;
    top: $t;
    right: $r;
    bottom: $b;
    left: $l;
}

@mixin size-element($w, $h) {
    width: $w;
    height: $h;
}

@mixin  position-image($col, $x, $y) {
    background-color: $col;
    background-position: $x $y;
}

%responsive {
    display: flex;
    align-items: center;
}

%win-timer {
    background-color: rgba($color: #fff, $alpha: 0.2);
    border-radius: 10px;
    z-index: 5;
}

%shadow {
    text-shadow: 0 0 5px #fff,
                0 0 10px #fff,
                0 0 15px #fff;
}


.game-container {
    @include size-element(100vw, 100vh);
    position: relative;
    @extend %responsive;
    flex-direction: column;
    justify-content: center;
    background: url('/app/images/hexellence.png') repeat;
    font-family: YatraOne;
    overflow: hidden;
    user-select: none;
    color: #0e0068;

    button {
        font-family: YatraOne;
        cursor: pointer;
        border-radius: 10px;
        box-shadow: 0 0 10px 2px rgba($color: #000000, $alpha: 0.5);
        transition: 0.1s linear;
        color: #0e0068;

        &:hover {
            text-shadow: 0 0 5px #000000;
        }

        &:active {
            transform: scale(0.95, 0.95);
            box-shadow: inset 0 0 10px 0 rgba($color: #000000, $alpha: 0.5);;
        }
    }

    .name-container {
        @include size-element(300px, null);
        position: relative;
        margin-bottom: 10px;
        border-radius: 10px;
        padding: 5px 10px;
        line-height: 38px;
        text-align: center;
        font-size: 1.2em;
        background-color: rgba($color: #4582a9, $alpha: 0.3);
        box-shadow: inset 0 0 10px 0 rgba($color: #000000, $alpha: 0.5);

        input { 
            @include size-element(60%, null);
            padding: 5px 2px;
            background-color: transparent;
            border: none;
            outline: none;
            font-size: 1em;
        }

        .error-name {
            @include location-element(5px, -265px, null, null);
            @include size-element(250px, null);
            font-size: 0.85em;
            background-color: rgba($color: #ffbcbc, $alpha: 0.5);
            border-radius: 9px;

            &::before {
                @include location-element(7px, null, null, -24px);
                content: '';
                border: 12px solid transparent;
                border-right-color: rgba($color: #ffbcbc, $alpha: 0.5);
            }
        }
        
    }

    .btn-start {
        cursor: pointer;
        margin-bottom: 15px;
        background: #c5deea;
        background: -moz-radial-gradient(center, ellipse cover, #c5deea 0%, #8abbd7 31%, #066dab 100%);
        background: -webkit-radial-gradient(center, ellipse cover, #c5deea 0%,#8abbd7 31%,#066dab 100%);
        background: radial-gradient(ellipse at center, #c5deea 0%,#8abbd7 31%,#066dab 100%);
    }

    .btn-start-duel {
        @include size-element(300px, 90px);
        font-size: 2em;
        font-weight: bold;
    }

    .btn-leaderboard {
        @include size-element(200px, 60px);
        font-size: 1.3em;
    }

    .btn-back {
        @include size-element(100px, 30px);
        font-size: 1em;
        margin-bottom: 0;

        a {
            color: #0e0068;
        }
    }

    .btn-close {
        @include location-element(40px, 50px, null, null);
        @include size-element(30px, 30px);
        border-radius: 50%;
        z-index: 110;
    }

    .btn-attack {
        @include location-element(null, null, null, null);
        @include size-element(150px, 150px);
        border: 3px solid #066dab;
        border-radius: 50%;
        font-size: 1.5em;
        z-index: 5;

        &:active {
            box-shadow: none;
        }
    }

    .canvas-wrapper {
        @include size-element(1104px, 620px);
        position: relative;

        .versus {
            @include location-element(30px, null, null, 510px);
            @include size-element(80px, 64px);
            background: url('/app/images/VERSUS-Graphic.png') no-repeat;
            background-size: contain;
            z-index: 4;
        }

        .animation-health {
            @include location-element(420px, null, null, 80px);
            @include size-element(250px, 50px);
            background: url('/app/images/list.png');
            background-size: 200px;
            z-index: 20;
            animation: list 2s infinite linear;
        }
    
        .progress-bar {
            @include location-element(25px, null, null, 50px);
            @include size-element(1000px, null);
            z-index: 4;
            display: flex;
            justify-content: space-between;

            .container-pro {
                display: flex;
                flex-direction: column;
                padding: 10px;
                color: #120a8d;
                font-size: 1.5em;
        
                .name-pers {
                    margin-bottom: 10px;
                    @extend %shadow;
                    font-weight: bold;
                }
         
                .progress {
                    @include size-element(300px, 30px);
                    position: relative;
                    display: flex;
                    text-align: center;
                    line-height: 23px;
                    background-color: #ffffff;
                    box-shadow: 0 0 10px 0 #000;
                    border: 1px solid #000;
                    border-radius: 10px;
        
                    div {
                        @include size-element(100%, null);
                        background-color: rgba($color: #00cc00, $alpha: 0.8);
                        border-radius: 10px;
                        transition: 0.5s linear;
                    }
        
                    span {
                        @include location-element(5px, null, null, null);
                        @include size-element(100%, null);
                    }
                }
    
                .prog2 {
                    flex-direction: row-reverse;  
                }

            }

            .evil-container {
                align-items: flex-end;
            }
        }

        .win {
            @include location-element(null, null, 50px, 60px);
            @include size-element(null, 20px);
            padding: 5px;
            font-size: 1.5em;
            @extend %win-timer;
        }

        .timer {
            @include location-element(null, 60px, 50px, null);
            @include size-element(100px, 70px);
            @extend %win-timer;
            line-height: 80px;
            text-align: center;
            font-size: 3.5em;
        }

        .timer-up {
            z-index: 20;
            background: none;
        }


        .magic-container {
            @include location-element(10px, null, null, 250px);
            @include size-element(600px, 600px);
            z-index: 5;
            @extend %responsive;
            flex-wrap: wrap;
            justify-content: center;
            background-color: rgba($color: #066dab, $alpha: 0.3);
            border-radius: 50%;
            transform: scale(1, 1) rotate(45deg);
            transition: 0.5s linear;

    
            button {
                @include size-element(100px, 100px);
                margin: 0 100px;
                border-radius: 50%;
                transform: rotate(-45deg);
                background: url('/app/images/btn.png') no-repeat;
                background-size: 165px;
            }

            .btn-fire {
                @include position-image(#ff4732, 10px, 8px);
            }

            .btn-air {
                @include position-image(#fff, 10px, -74px);
            }

            .btn-water {
                @include position-image(#004bff, -72px, -74px)
            }

            .btn-earth {
                @include position-image(#00ff48, -73px, 11px);
            }
        }

        .scale {
            transform: scale(0, 0) rotate(0);
        }

        canvas {
            @include location-element(0, null, null, null);
            border-radius: 10px;
        }

        .modal {
            @include location-element(170px, null, null, null);
            @include size-element(100%, null);
            @extend %shadow;
            color: #120a8d;
            z-index: 10;
            text-align: center;
            font-size: 4em;
            font-weight: bold;
        }



        .can-bg {
            z-index: 0;
            box-shadow: -5px 5px 25px 0 #000;
        }

        .can-pers {
            z-index: 1;
        }

    }

    .task-wrapper {
        @include size-element(1104px, 621px);
        background-color: rgba($color: #ff4732, $alpha: 0.8);
        position: fixed;
        @extend %responsive;
        flex-direction: column;
        justify-content: center;
        z-index: 15;
        color: #050031;
        border-radius: 10px;

        .task,
        .word {
            margin-top: 50px;
            margin-bottom: 100px;
            font-size: 5em;
            font-weight: bold;
        }

        .word {
            margin-bottom: 50px;
        }

        .answer-container {
            font-size: 2em;
            margin-bottom: 100px;
            @extend %responsive;

            input {
                @include size-element(150px, null);
                text-align: center;
                font-size: 1.5em;
                background-color: transparent;
                color: #2a2a7c;

                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    display: none;
                }
            }

            .btn-number {
                @include size-element(75px, 75px);
                margin-left: 25px;
                background: rgba($color: #ff0000, $alpha: 0.5);
                color: #00003d;
                border: 1px solid #00003d;
                border-radius: 50%;
            }
        }
       
    }

    .task-translate {
        background-color: rgba($color: #fff, $alpha: 0.5);
        
        p {
            font-size: 3em;
            margin-bottom: 20px;
        }

        .translate-container {
            display: flex;
            padding: 5px;
            
            input[type="text"] {
                @include size-element(300px, 50px);
                font-size: 2em;
                margin: 5px;
                border: 1px solid #8585ff;
                text-align: center;
                border-radius: 10px;

            }

            .btn-translate {
                height: 60px;
                margin-top: 3px;
                margin-left: 10px;
                background: rgba($color: #cbcbcb, $alpha: 0.5);
                color: #050031;
            }
        }
    }

    .task-swap {
        background-color: rgba($color: #004bff, $alpha: 0.5);

        .btn-swap {
            @include size-element(150px, 75px);
            background: linear-gradient(to top left, #59afff, #004bff, #59afff);
            font-size: 1.5em;
        }
        
        ul {
            @include size-element(100%, 150px);
            @extend %responsive;
            justify-content: center;
            margin-bottom: 25px;
            padding: 10px;
            font-size: 5em;

            li {
                @include size-element(90px, 90px);
                cursor: pointer;
                background-color: #004bff;
                color: #c5deea;
                line-height: 90px;
                text-align: center;
                padding: 5px;
                margin: 15px;
                border-radius: 50%;
                box-shadow: 0 0 15px 0 #000;

                &:active {
                    background:  rgba(0, 76, 255, 0.5);
                    box-shadow: none;
                }
            }
        }
    }

    .task-voice {
        @extend %responsive;
        background-color: rgba($color: #00ff48, $alpha: 0.5);

        button {
            @include size-element(120px, 80px);
           
            background: #00ff48;
            font-size: 2.5em;
        }

        label {
            @include size-element(450px, 30px);
            font-size: 2em;
        }

        .voice-container {
            @include size-element(500px, 100px);
            @extend %responsive;
            justify-content: space-around;
            margin-bottom: 50px;

            input {
                @include size-element(350px, null);
                background-color: #00ff48;
                box-shadow: 0 0 10px 0 #000;
                border-radius: 10px;
                font-size: 3em;
                text-align: center;
            }
    
            .btn-voice {
                @include size-element(50px, 50px);
                background: #00ff48 url('/app/images/if_music_repeat_loop_again_circle_arrow_blue_1872768.png') no-repeat;
                background-size: contain;
                margin: 0;
            }
        }

    }

    .hide {
        display: none;
    }

} 

@keyframes list {
    to {
        opacity: 0;
        background-position-x: 0px;
        top: 220px;
    };
    from {
        opacity: 1;
        background-position-x: 250px;
        top: 420px;
    };
}

